*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
body {
  height:100vh;
  display : flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
  font-family: sans-serif;
  color: white;
}

.location,
.temperature{
  height: 30vh;
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature{
  flex-direction: column;
}
.degree-section{
  display:flex;
  align-items: center;
  cursor:pointer;
}

.degree-section span{
  margin:10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.imageFrame {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: blue; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s ease-in-out;
  
}

.imageFrame:hover {
    filter: none;
      -webkit-filter: grayscale(0.1);
      -webkit-transform: scale(1.1);
}